<h1 class="center">
  Welcome to {{ title }}
</h1>
<h2>
  Please select the chores you want to assign and place them in the chore charts
</h2>
<button type="button" onclick="create()">New Person +</button>

<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">This is the {{ Person }} of person responsible</h5>
    <p class="card-text">This is where the list of chores will be placed for this individual</p>
    <a href="#" class="btn btn-primary">Completed</a>
  </div>
</div>
    <!-- password for chelsea user mongoDB - IFO184pPzEeTMZAN -->