<app-header></app-header>
<div class="container pull-left">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- form [formGroup] -->
      <!-- *ngIf="!signupForm.get('userdata.username').valid && signupForm.get('username ')" -->
    </div>
  </div>
</div>

<!-- (featureSelected)="onNavigate($event)" -->
<!-- <app-documents *ngIf="loadedFeature === 'documents'"></app-documents>
      <app-contact *ngIf="loadedFeature === 'contact'"></app-contact>
      <app-messages *ngIf="loadedFeature === 'messages'"></app-messages> -->